:root{
    --bg-night:#1B2431;
    --bg-day:#FEDA5B;

    --clr-primary-day:#000;
    --clr-primary-night:#fff;

    --ff:'Oswald', sans-serif;

    --fs:2rem;

    --fw:700;

    --br:2.225rem;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

*{
    box-sizing:border-box;
}

body,
p{
    margin:0;
}

button{
    font-family:inherit;
    border:none;
    background:none;
}

body{
    font-family: var(--ff);
    font-weight:var(--fw);
    font-size:var(--fs);
    color:#000;
    background:rgba(0,0,0,0.25);
    height:100vh;
    display:grid;
    place-items:center;
    overflow:hidden;
    transition:background 1s;
}

.btn{
    font-size:1.75rem;
    font-weight:var(--fw);
    padding:0.5em 0.75em;
    color:inherit;
    border:2px solid;
    cursor:pointer;
}

.outer-box{
    width:620px;
    height:620px;
    background:rgba(255,255,255,0.14);
    position:relative;
    text-align: center;
    border-radius: var(--br);
}

.number{
    --rotation:0deg;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:inherit;
    padding:0.5em;
    transform:rotate(var(--rotation));
}

.number span{
    --antirotation:0deg;
    display:block;
    transform:rotate(var(--antirotation));
}

.number:nth-of-type(1){
    --rotation:30deg;
}
.number:nth-of-type(1) span{
    --antirotation:-30deg;
}

.number:nth-of-type(2){
    --rotation:60deg;
}
.number:nth-of-type(2) span{
    --antirotation:-60deg;
}

.number:nth-of-type(3){
    --rotation:90deg;
}
.number:nth-of-type(3) span{
    --antirotation:-90deg;
}

.number:nth-of-type(4){
    --rotation:120deg;
}
.number:nth-of-type(4) span{
    --antirotation:-120deg;
}

.number:nth-of-type(5){
    --rotation:150deg;
}
.number:nth-of-type(5) span{
    --antirotation:-150deg;
}

.number:nth-of-type(6){
    --rotation:180deg;
}
.number:nth-of-type(6) span{
    --antirotation:-180deg;
}

.number:nth-of-type(7){
    --rotation:210deg;
}
.number:nth-of-type(7) span{
    --antirotation:-210deg;
}

.number:nth-of-type(8){
    --rotation:240deg;
}
.number:nth-of-type(8) span{
    --antirotation:-240deg;
}

.number:nth-of-type(9){
    --rotation:270deg;
}
.number:nth-of-type(9) span{
    --antirotation:-270deg;
}

.number:nth-of-type(10){
    --rotation:300deg;
}
.number:nth-of-type(10) span{
    --antirotation:-300deg;
}

.number:nth-of-type(11){
    --rotation:330deg;
}
.number:nth-of-type(11) span{
    --antirotation:-330deg;
}

.inner-circle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:1;
    width:12px;
    height:12px;
    background:var(--clr-primary-day);
    border-radius:50%;
}

.clock-time{
    --rotation:0;
    position:absolute;
    left:50%;
    background:var(--clr-primary-day);
    transform-origin:bottom center;
}

.minute-hand{
    top:12%;
    transform:translate(-50%,-12%) rotate(var(--rotation));
    width:5px;
    height:43%;
    background:var(--clr-primary-day);
}

.second-hand{
    top:16%;
    transform:translate(-50%,0) rotate(var(--rotation));
    width:3px;
    height:38%;
    transform-origin:90% 90%;
}

.hour-hand{
    top:33%;
    transform:translate(-50%,-33%) rotate(var(--rotation));
    width:10px;
    height:25%;
}